@import url("https://fonts.googleapis.com/css2?family=Smooch+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto+Slab&family=Smooch+Sans&display=swap");
.container {
  padding: 0 2rem;
}

.main {
  /* min-height: 100vh; */
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #c0c2c9;
  border-bottom: 2px solid #c0c2c9;
}

.title {
  font-family: "Merriweather", serif;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
  color: #c0c2c9;
  text-align: center;
}

.title span {
  letter-spacing: 7px;
  font-family: "Smooch Sans", sans-serif;
  font-size: 7rem;
  color: #ababaf;
  font-weight: 600;
}
