@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.navHeader {
  padding: 12px 5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #24252a;
}

.navHeader img {
  margin-right: auto;
  width: 12%;
}

.navLinks {
  list-style: none;
}

.navLinks li {
  display: inline-block;
  padding: 0px 20px;
}

.navLinks li a {
  transition: all 0.3s ease 0s;
}

.navLinks li a:hover {
  color: #0088a9;
}

.navHeader button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.navHeader button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}
